.wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(4, 3, 3, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    position: relative;
    width: 80%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    padding: 0 10%;
    margin: 40px 0 30px;
    text-align: center;
}
.title p{
    font-size: 28px;
    font-weight: 500;
}
.title span{
    font-size: 32px;
    font-weight: 800;
}
.body{
    padding: 0 10%;
    margin: 0px 0 30px;
    
}
.body p{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}
.body span{
    font-size: 32px;
    font-weight: 600;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-color: aliceblue;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 13px;
    top:-2px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }