.wrapper{
    background-color: #5264AE;
    border-radius: 20px;
    padding: 10px;
    max-width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
}
.wrapper p{
    font-size: 22px;
    color: aliceblue;
    font-weight: 500;
}
.btn{
    cursor: pointer;
    width: 60px;
    height: 30px;
    margin: 0 10px;
    background-color: blueviolet;
    border-radius: 12px;
}