.wrapper{
    height: 80px;
    width: 90%;
    background-color: rgb(202, 131, 39,0);
    color: white;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}
